binary "https://sdk.streamroot.io/ios/StreamrootSDK.json" == 3.5.1
binary "https://sdk.streamroot.io/ios/AVPlayerDNAPlugin.json" ~> 1.0.0
github "daltoniam/Starscream" "3.0.6"
github "getsentry/sentry-cocoa" "4.1.0"
